<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список пользователей</title>
</head>
<body>
<h1>Пользователи</h1>
<table border="2">
    <tr style="color: black">
        <th>Идентификатор</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Отчество</th>
        <th>Зарплата</th>
        <th>Почта</th>
    </tr>
    <tr>
    <tr th:each="user : ${user}">
        <td th:utext="${user.getId()}"></td>
        <td th:utext="${user.getName()}"></td>
       <td th:utext="${user.getFirstName()}"></td>
        <td th:utext="${user.getLastName()}"></td>
       <td th:utext="${user.getSalary()}"></td>
        <td th:utext="${user.getEmail()}"></td>
        <td>
            <form th:method="DELETE" th:action="@{/user/{id}(id=${user.getId()})}">
                <input type="submit" value="Удалить">
            </form>
        </td>
        <td>
            <a th:href="@{/user/{id}/edit(id=${user.getId()})}">Редактировать</a>
        </td>
    </tr>
</table>
<br/>
<br>
<hr/>
<h2>Создать нового пользователя</h2>
<form th:method="POST" th:action="@{/user}" th:object="${newUser}">
    <label for="name">Имя</label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Ошибка</div>
    <br/>
    <p>
    <label for="firstName">Фамилия</label>
    <input type="text" th:field="*{firstName}" id="firstName"/>
    <div style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Ошибка</div>
    <br/>
    <p>
    <label for="lastName">Отчество</label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <div style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Ошибка</div>
    <br/>
    <p>
    <label for="salary">Зарплата</label>
    <input type="text" th:field="*{salary}" id="salary"/>
    <div style="color:red" th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}">Ошибка</div>
    <br/>
    <p>
    <label for="email">Почта</label>
    <input type="text" th:field="*{email}" id="email"/>
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Ошибка</div>
    <br/>
    <p>
    <br/>
    <input type="submit" value="Создать"/>
</form>
</body>
</html>